body {
    background-color: rgb(255, 252, 229);
}

.jaini-regular {
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Jaini";
    font-size: 3vw;
    color:darkred;
    text-align: center;
    
}

