body {
    background-color:#faedcd;
}

.jaini-regular {
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Jaini";
    font-size: 4vw;
    text-align: center;
    color:#9da9a0;
}

p {
    font-size: 1vw;
    text-align: center;
    color:#654c4f;
}

